<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
    </head>
    <body>
        <div class="center"> 
            <h1>Spoken</h1>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Title</th>
                        <th>URL
                            <a href="{{ url_for('spoken', page=curr_page-1) }}">LP</a>
                            <a href="{{ url_for('spoken', page=curr_page+1) }}">NP</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in output %}
                        <tr>
                            <td> {{ value['timestamp'] }} </td>
                            <td> {{ value['name'] }} </td>
                            <td> <a href="{{ value['mp3url'] }}">Click to Listen</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>